<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <h1>User Signup</h1>

    <form action="/user" method="POST">
        <div>
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName" id="firstName" required />
        </div>

        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" name="lastName" id="lastName" />
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required />
        </div>
        <div>
            <label for="role">Role:</label>
            <input type="text" name="role" id="role" required />
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required />
        </div>

        <!-- <div>
            <label for="gender">Gender:</label>
            <select name="gender" id="gender">
                <option value="">--Select--</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </div> -->

        <button type="submit">Signup</button>
    </form>
</body>

</html>